:root {
	--clr-primary-800: 253 18% 10%;
	--clr-primary-700: 253 14% 13%;
	--clr-secondary-600: 254 16% 21%;
	--clr-accent-400: 339 100% 70%;
	--clr-accent-300: 163 100% 50%;
}

@font-face {
	font-display: swap;
	font-family: 'MS Gothic';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/MS-Gothic.ttf') format('truetype');
}

/*  Edited version of CSS reset by Andy Bell */
/*  https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	min-height: 100%;
}

body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: 'MS Gothic';
}

a {
	outline: none;
	text-decoration: none;
	color: inherit;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

button,
input[type='”submit”'],
input[type='”reset”'] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

img,
picture,
svg {
	max-width: 100%;
	display: block;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* general */

body {
	background: linear-gradient(
		hsl(var(--clr-primary-700)),
		hsl(var(--clr-primary-800))
	);
	color: hsl(var(--clr-accent-300));
}

.container {
	margin-inline: auto;
	padding: 1rem;
}

.btn {
	background-color: hsl(var(--clr-secondary-600));
	padding: 0.35rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
}

/* change color of animated icons */
path {
	stroke: hsl(var(--clr-accent-400));
}

/* layout */

/* song details section */
.song-details {
	max-width: 32rem;
}

.album-cover {
	margin-bottom: 1.5rem;
}

.title,
.artist {
	font-weight: 500;
}

.title {
	font-size: 1.5rem;
	margin-block: 1.125rem;
}

/* audio player section */
.audio-player-container {
	max-width: 40rem;
}

.audio-player {
	--seek-before-width: 0%;
	--volume-before-width: 100%;
	--buffered-width: 0%;

	display: grid;
	gap: 0.5rem;
	grid-template-areas: 'play-btn . volume-slider-btn' 'slider slider slider';
}

#play-btn {
	grid-area: play-btn;
}

.seek-slider-container {
	grid-area: slider;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.volume-slider-btn-container {
	grid-area: volume-slider-btn;
	justify-self: end;
	position: relative;
}

.volume-slider-container {
	display: none;
	position: absolute;
	border-radius: 6px;
	background-color: hsl(var(--clr-secondary-600));
	/* rotate container to create vertical slider */
	transform: rotate(270deg);
	padding: 0.5rem 1rem 0.5rem 0.5rem;
	width: 250px;
	bottom: 400%;
	left: -262.5%;
}

.volume-slider-container.active {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

#volume-output {
	transform: rotate(90deg);
	width: 24px;
	text-align: center;
}

/* slider */
input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: transparent;
	float: left;
	outline: none;
}

/* track: webkit */
input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: linear-gradient(
		to right,
		hsl(var(--clr-accent-400) / 0.6) var(--buffered-width),
		hsl(var(--clr-accent-400) / 0.2) var(--buffered-width)
	);
}
/* track: firefox */
input[type='range']::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: linear-gradient(
		to right,
		hsl(var(--clr-accent-400) / 0.6) var(--buffered-width),
		hsl(var(--clr-accent-400) / 0.2) var(--buffered-width)
	);
}
/* track: edge */
input[type='range']::-ms-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: transparent;
	border: solid transparent;
	color: transparent;
}
input[type='range']::-ms-fill-upper {
	background: linear-gradient(
		to right,
		hsl(var(--clr-accent-400) / 0.6) var(--buffered-width),
		hsl(var(--clr-accent-400) / 0.2) var(--buffered-width)
	);
}

/* progress: webkit */
input[type='range']::before {
	position: absolute;
	content: '';
	left: 0;
	width: var(--seek-before-width);
	height: 3px;
	background-color: hsl(var(--clr-accent-400));
	cursor: pointer;
}
#volume-slider::before {
	width: var(--volume-before-width);
}
/* progress: firefox */
input[type='range']::-moz-range-progress {
	background-color: hsl(var(--clr-accent-400));
}
input[type='range']::-moz-focus-outer {
	border: 0;
}
/* progress: edge */
input[type='range']::-ms-fill-lower {
	background-color: hsl(var(--clr-accent-400));
}

/* thumb: webkit */
input[type='range']::-webkit-slider-thumb {
	position: relative;
	-webkit-appearance: none;
	box-sizing: content-box;
	border: 1px solid hsl(var(--clr-accent-400));
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: hsl(var(--clr-accent-400));
	cursor: pointer;
	margin: -7px 0 0 0;
}
input[type='range']:active::-webkit-slider-thumb {
	transform: scale(1.2);
	background: hsl(var(--clr-accent-400));
}
/* thumb: firefox */
input[type='range']::-moz-range-thumb {
	box-sizing: content-box;
	border: 1px solid hsl(var(--clr-accent-400));
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: hsl(var(--clr-accent-400));
	cursor: pointer;
}
input[type='range']:active::-moz-range-thumb {
	transform: scale(1.2);
	background: hsl(var(--clr-accent-400));
}
/* thumb: edge */
input[type='range']::-ms-thumb {
	box-sizing: content-box;
	border: 1px solid hsl(var(--clr-accent-400));
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: hsl(var(--clr-accent-400));
	cursor: pointer;
}
input[type='range']:active::-ms-thumb {
	transform: scale(1.2);
	background: hsl(var(--clr-accent-400));
}

@media (min-width: 40em) {
	.title {
		font-size: 2rem;
	}
	.artist {
		font-size: 1.5rem;
	}

	.audio-player {
		grid-template-areas: 'play-btn slider volume-slider-btn';
		grid-template-columns: 1fr 30rem 1fr;
	}
}
